* {
	font-weight: bold;
}

.card-deck {
	margin-bottom: 10px;
}

.continueReading {
	font-size: 20px
}

/* .img-thumbnail {} */

.datecard {

	font-weight: bold;

}

.abstractcard {

	font-weight: bold;
}



.card {
	margin-bottom: 10px;
	/*
	box-shadow: 2px 2px 2px black;
	*/
	padding: 20px;
	border: 1px solid black;
	font-family: Franklin Gothic Medium !important;
	font-size: 15px !important
}

.sectioncard {
	font-weight: bold;
}

.titlecard {
	font-weight: bold;
}

.nav-link {
	color: black !important;
	font-size: 15px !important
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.nav-pills>li.active>a {
	background-color: grey;
}

.nav-pills>li.active>a:focus {
	background-color: grey;
}

.nav-pills>li.active>a:hover {
	background-color: grey;
}